/*
  Base
*/

body {
  font-family: $serif-font-family;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.75rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: $elements-responsive-width) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }

  body h1 {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-font-family;
  color: var(--heading-color);
}

a {
  text-decoration: underline;
  color: var(--link-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid var(--blockquote-border);
  color: var(--blockquote-text);
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--border-color);
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table,
th,
td {
  border: 1px solid var(--table-border);
}

th,
td {
  padding: 15px;
  text-align: left;
}