/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: $sans-serif-font-family;
  background-color: var(--header-bg);
  transition: background-color 0.3s ease;
}

.header a:hover {
  color: var(--link-hover-color);
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.header-subtitle {
  color: var(--light-gray-color);
  transition: color 0.3s ease;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: var(--light-gray-color);
  font-size: 1rem;
  padding-right: 10px;
  transition: color 0.3s ease;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: var(--light-gray-color);
  font-size: 1rem;
  transition: color 0.3s ease;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }

  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Footer
*/

.footer {
  color: var(--light-gray-color);
  text-align: center;
  margin: 2rem;
  transition: color 0.3s ease;
}

.footer a {
  color: var(--light-gray-color);
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--heading-color);
}

.footer-description {
  display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: var(--light-gray-color);
  font-family: $sans-serif-font-family;
  font-size: 0.8rem;
  transition: color 0.3s ease;
}