/*
  Posts
*/

.posts-container {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img {
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.pagination-button {
  color: var(--light-gray-color);
  border: 1px solid var(--border-color);
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.pagination-active {
  color: var(--link-hover-color);
}

.pagination-active:hover {
  background-color: var(--border-color);
}